@model IEnumerable<JokeStore.Core.Entity.Domain>

<div class="sub-head">
    <div class="right">
        @Html.ActionLink("+Create", "createdomain")
    </div>
    <h2>Domains</h2>
</div>

<table class="grid">
    <tr>
        <th>Heading</th>
        <th>Url</th>
        <th></th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Heading</td>
        <td>@item.Url</td>
        <td class="w70">
            @Html.ActionLink("Edit", "editdomain", new { DomainID = item.ID })

            @using (Html.BeginForm("deletedomain", "admin", FormMethod.Post, new { @class = "inline-form" }))
            {
                @Html.Hidden("DomainID", item.ID);
                <input class="link-button" type="submit" value="Delete" />
            }
        </td>
    </tr>
}
</table>