@model IEnumerable<JokeStore.Core.Entity.Entry>

<div class="sub-head">
    <div class="right">
        @Html.ActionLink("+Create", "create", "entry")
    </div>
    <h2>UnApproved entries</h2>
</div>

@if (Model.Count() > 0)
{ 
    <table class="grid">
        <tr>
            <th>Content</th>
            <th>Category</th>
            <th></th>
        </tr>
    @foreach (var entry in Model)
    {
        <tr>
            <td>@UI.CutString(entry.Content, 40)</td>
            <td>@entry.Category</td>
            <td class="w120">
                @using (Html.BeginForm("approveentry", "admin", FormMethod.Post, new { @class = "inline-form" }))
                {
                    @Html.Hidden("EntryID", entry.ID)
                    @Html.Hidden("ReturnUrl", Context.Request.Path)
                    <input class="link-button" type="submit" value="Approve" />
                }

                @Html.ActionLink("Edit", "editentry", new { EntryID = entry.ID })
            
                @using (Html.BeginForm("deleteentry", "admin", FormMethod.Post, new { @class = "inline-form" }))
                {
                    @Html.Hidden("EntryID", entry.ID)
                    @Html.Hidden("ReturnUrl", Context.Request.Path)
                    <input class="link-button" type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
    </table>
}
else
{ 
    <div style="padding: 0 5px;">No data</div>
}